<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/scripts/submitContactForm.js}" ></script>
</head>
<body>
    <h1>This is a Header</h1>
    <div th:unless="${#lists.isEmpty(testimonials)}">
        <dl th:each="testimonial : ${testimonials}">
            <dt>
                <span th:text="${testimonial.id}">Id</span>,
                <span th:text="${testimonial.poster}">Poster</span>,
                <span th:text="${testimonial.content}">Content</span>,
                <span th:text="${testimonial.rating}">Rating</span> / [[${maxVal}]]
            </dt>
        </dl>
    </div>
    <div th:if="${#lists.isEmpty(testimonials)}">
        <p>There are no testimonials</p>
    </div>

    <form id="contactUsForm" action="#" th:action="@{/submitContactForm}" th:object="${contactForm}" method="post">
        <p>
            <label for="contactName">Name:</label>
            <input id="contactName" type="text" th:field="*{name}"/>
        </p>
        <p>
            <label for="contactEmail">Email:</label>
            <input id="contactEmail" type="text" th:field="*{email}" />
        </p>
        <p>
            <label for="contactMessage">Message:</label>
            <textarea id="contactMessage" th:field="*{message}" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="Submit"/>
        </p>

        <div id="postResultDiv">

        </div>

    </form>

</body>
</html>